{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Editar Perfil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="{% url 'talleres' %}" class="logo">Talleres Adulto Mayor</a>
        <nav id="nav">
            <a href="{% url 'index' %}">Inicio</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">{{ 'Bienvenido/a ' }}{{ user_profile.primer_nombre }} {{ user_profile.primer_apellido }}</a>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
    </div>
</header>

<section id="main">
    <div class="inner">
        <h3>Modificar Perfil</h3>
        <form action="{% url 'update_profile' %}" method="POST">
            {% csrf_token %}
            <!-- Mostrar mensajes de error o éxito -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div>
                <label for="rut">RUT:</label>
                <input type="text" name="rut" id="rut" value="{{ user_profile.rut }}"required>
            </div>
            <div>
                <label for="primer_nombre">Primer Nombre:</label>
                <input type="text" name="primer_nombre" id="primer_nombre" value="{{ user_profile.primer_nombre }}"required>
            </div>
            <div>
                <label for="segundo_nombre">Segundo Nombre:</label>
                <input type="text" name="segundo_nombre" id="segundo_nombre" value="{{ user_profile.segundo_nombre }}"required>
            </div>
            <div>
                <label for="primer_apellido">Primer Apellido:</label>
                <input type="text" name="primer_apellido" id="primer_apellido" value="{{ user_profile.primer_apellido }}"required>
            </div>
            <div>
                <label for="segundo_apellido">Segundo Apellido:</label>
                <input type="text" name="segundo_apellido" id="segundo_apellido" value="{{ user_profile.segundo_apellido }}"required>
            </div>

            <div>
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="{{ user_profile.fecha_nacimiento }}"required>
            </div>

            <div>
                <label for="telefono">Teléfono:</label>
                <input type="text" name="telefono" id="telefono" value="{{ user_profile.telefono }}"required>
            </div>
            
            <div>
                <label for="direccion">Direccion:</label>
                <input type="text" name="direccion" id="direccion" value="{{ user_profile.direccion }}"required>
            </div>

            
            
            
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

        <!-- Botón para eliminar la cuenta -->
        <form action="{% url 'delete_account' %}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar tu cuenta?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar Cuenta</button>
        </form>
    </div>
</section>

<div class="copyright">
    <a> <u>CONTÁCTANOS :</u> (+56) 994253304 <br>
        Talleres@adultomayor.cl
    </a>
</div>

</body>
</html>
